<h3 class="mbm">Confirm Delete</h3>
<h4>Are you sure you want to delete all details of this patient?</h4>
<h5 class="text-danger"><strong>Warning</strong>: This will delete the patient's details <strong>and</strong> their entire visit history. This action cannot be undone</h5>
<div class="form-inline mts">
    <button ng-click="confirm(1)" class="ngdialog-button ngdialog-button-primary">Delete</button>
    <button ng-click="closeThisDialog(0)" class="ngdialog-button ngdialog-button-secondary">Cancel</button>
</div>