<md-card>
    <md-card-content>
        <h2>Getting Started</h2>
        <p>Add a patient's information by clicking the + symbol on top</p>
        <p>To view a patient's information, search for their details in the left panel, and click on the listed patients. You can also add or delete visit history of a patient.</p>
        <p>While adding a new visit, fill in the SMS alert section to alert your team members to follow up on a patient. Before you can use that feature, please make sure you set up your phone information on Google Calendar. <a ng-click="open('https://github.com/vinaygopinath/PayirPatientManagement/wiki/Setting-up-Google-Calendar')">Read more</a>
        </p>
    </md-card-content>
</md-card>